:root {
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  color: var(--vscode-foreground);
  background: var(--vscode-editor-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--vscode-editor-background);
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--vscode-editor-background);
}
